.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 4%
  &-3
    animation: float1 1.8s ease-in-out infinite alternate
    position: absolute
    top: 62%
    right: 13%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bg01
  background-image: url("../assets/curso/tema1/img01.svg") 
  background-repeat: no-repeat
  background-size: contain
  border-radius: 20px
  
.bg02
  background-color: #DDF8FB
  border-radius: 20px

.bg03
  background-image: url("../assets/curso/tema1/img13.svg") 
  background-repeat: no-repeat
  background-size: cover
  border-radius: 20px

.bg04
  background-color: #9FBE37
  border-radius: 20px

.bg05
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -49px
    width: calc( 100% + 6rem)
    height: calc( 100% + 3rem)
    background-image: url("../assets/curso/tema1/img28.svg") 
    background-repeat: no-repeat
    background-size: cover
  
.bg06
  background-color: #E8E8E8
  border-radius: 20px
  &:hover
    background-color: #BBE4E7
    h1 
      color: #4ACFD9

.bg07
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -49px
    width: calc( 100% + 6rem)
    height: calc( 100% + 3rem)
    background-image: url("../assets/curso/tema2/img20.svg") 
    background-repeat: no-repeat
    background-size: cover

.bg08
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -49px
    width: calc( 100% + 6rem)
    height: calc( 100% + 3rem)
    background-image: url("../assets/curso/tema2/img22.svg") 
    background-repeat: no-repeat
    background-size: cover
  
.bg09
  background-image: url("../assets/curso/tema2/img25.svg") 
  background-repeat: no-repeat
  background-size: contain
  border-radius: 20px

.bg10
  background-image: url("../assets/curso/tema2/img25.svg") 
  background-repeat: no-repeat
  background-size: contain
  border-radius: 20px

.bg11
  background-color: #161730
  border-radius: 20px

.bg12
  background-image: url("../assets/curso/tema2/img27.svg") 
  background-repeat: no-repeat
  background-size: contain

.bg13
  background-image: url("../assets/curso/tema2/img29.svg") 
  background-repeat: no-repeat
  background-size: contain

.bg14
  background-image: url("../assets/curso/tema2/img31.svg") 
  background-repeat: no-repeat
  background-size: contain

.bg15
  background-image: url("../assets/curso/tema2/img33.svg") 
  background-repeat: no-repeat
  background-size: contain

.bg16
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -49px
    width: calc( 100% + 6rem)
    height: calc( 100% + -10rem)
    background-image: url("../assets/curso/tema1/img28.svg") 
    background-repeat: no-repeat
    background-size: cover

.img85
    max-width: 140px !important

.cajon.color-acento-contenido
  background-color: #E7EFCC

.tarjeta-flip.color-secundario .tarjeta-flip__contenido 
  background-color: #D1F3F6

.tarjeta-flip.color-secundario .tarjeta-flip__img 
    background-color: #D1F3F6

.bloque-texto-b i 
  color: #4ACFD9
.bloque-texto-b.color-secundario:before
  background-color: #DDF8FB

.dual-txt-deco
  position: relative
  &::after
    content: ""
    position: absolute
    top: 38px
    left: -25px
    width: 45%
    height: 17%
    background-color:#D0D0D5
    z-index: 0
.dual-txt-deco2
  position: relative
  &::after
    content: ""
    position: absolute
    top: 38px
    left: -25px
    width: 45%
    height: 17%
    background-color: #DDF8FB
    z-index: 0

.dual-txt-deco3
  position: relative
  &::after
    content: ""
    position: absolute
    top: 3px
    left: -25px
    width: 31%
    height: 11%
    background-color: #99E3E9
    z-index: 0

.tarjeta.color-secundario-t2
  background-color: #D0D0D5
  border-radius: 15px

.img-t2
  margin-top: -90px

.tn
  font-size: 4rem

.bgn
  color: #AFAFAF

.cajon.color-primario
  background-color: #FFFFFF

.tarjeta.color-acento-botones
  background-color: #FFFFFF
  border-radius: 0px
